#page-login-form {
    width: 100vw;
    height: 100vh;
}

#page-login-form main {
    width: 50vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-background);
}

#page-login-form main fieldset {
    width: 35rem;
    height: 45rem;

    border: 0;
}

#page-login-form main fieldset legend {
    font: 600 3.6rem Poppins;
    line-height: 3.6rem;
    font-style: normal;

    margin-bottom: 2rem;
    
    color: var(--color-text-title);
}

#page-login-form i {
    position: absolute;
    color: var(--color-primary);
    display: flex;
    margin: -7rem 30rem;
    cursor: pointer;
}

.input-check {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.input-check a {
    font: 1.4rem Poppins;
    text-decoration: none;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}

.checkbox {
    font: 1.4rem Poppins;
    line-height: 2.4rem;
    color: var(--color-text-complement);
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox input {
    opacity: 0;
    cursor: pointer;
    margin-right: 2.3rem;
}

.checkbox .overlay {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--color-background);
    border-radius: 0.5rem;
    border: 2px solid #d9d9d9;
    transform: rotate(-90deg);
    transition: all 0.3s;
}

.checkbox input:checked ~ .overlay {
    background-color: var(--color-secundary);
    transform: rotate(0deg);
    border: 2px solid #04D361;
    border-radius: 8px;
    opacity: 1;
}

#page-login-form main fieldset button {
    width: 100%;
    height: 5.6rem;
    
    font: 600 1.6rem Archivo;
    font-style: normal;
    color: var(--color-text-complement);
    cursor: pointer;
    
    border: 0;
    border-radius: 0.8rem;

    background-color: var(--color-button-login);
    margin-bottom: 8rem;
    transition: color 0.3s;
}

#page-login-form main fieldset button:hover {
    background-color: var(--color-secundary);
    color: var(--color-line-in-white);
}

#page-login-form main fieldset footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-login-form main fieldset footer p {
    display: grid;
    font: 600 1.6rem Poppins;
}

#page-login-form main fieldset footer p a:active {
    color: unset;
}